.contest_heading {
    text-align: center;
    background: #111c30;
    background: -webkit-linear-gradient(top left, #111c30, #5da262);
    background: -moz-linear-gradient(top left, #111c30, #5da262);
    background: linear-gradient(to bottom right, #111c30, #5da262);
    padding: 10px;
    color: white;
  }
  .contest_heading > p{
      font-size: 1.2em;
  }
  
  .ContestCards {
    display: flex;
  overflow-x: scroll;
  }
  .ContestCards::-webkit-scrollbar {
    display: none;
  }
  